* {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  height: 80px;
  margin: 0 50px;
}

@media(max-width: 989px) {
  header {
    flex-direction: row-reverse;
    justify-content: flex-end;
    margin: 0;
  }
}

header h1 a {
  text-decoration: none;
  color: #000;
  font-size: 28px;
}

@media(max-width: 989px) {
  header h1 a {
    padding-left: 50px;
  }
}

header .burguer {
  display: none;
  width: 90px;
  height: 100%;
}

@media(max-width: 989px) {
  header .burguer {
    display: block;
    background-color: #000;
  }

  header .burguer button {
    border: none;
    background-color: #000;
    width: 20px;
    height: 20px;
  }

  header .burguer button i {
    color: #fff;
    font-size: 55px;
    padding: 12px 0 0 17px;
    
  }
}

header nav ul {
  list-style: none;
  display: flex;
}


@media(max-width: 989px){
  header nav {
    display: none;
  }
}

header nav ul .links a {
  text-decoration: none;
  color: #CCCCCC;
  font-weight: 800;
  margin: 0 15px;
  transition: 0.5s;
}

header nav ul .links a:hover {
  color: #000;
  font-size: 18px;
}

header nav ul .links .link--active {
  color: #000;
  font-size: 18px;
}


footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

@media(min-width: 1025px) {
  footer {
    flex-direction: row;
    background-color: #CCCCCC;
    padding-left: 70px;
  }
}

footer nav {
  width: 85%;
  background-color: #7FDBD4;
}

@media(min-width:990px) {
  footer nav {
    width: 100%;
    background-color: #CCCCCC;
  }
}

footer nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 10px 5px;
}

footer nav ul li a img {
  width: 30px;
  height: 30px;
}

footer .footer__copy {
  width: 85%;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

footer .footer__copy div {
  width: 75vw;
}

@media(min-width:990px) {
  footer .footer__copy div {
    display: flex;
    align-items: center;
    padding-left: 75px;
  }
}

footer .footer__copy div p {
  font-size: 8px;
  width: 50vw;
  color: #d3d3d3;
}

@media(min-width:990px) {
  footer .footer__copy div h4 {
    margin-right: 20px;
  }
  footer .footer__copy div p {
    width: 450px;
    font-size: 15px;
    color: #fff;
  }
}

footer .footer__copy div p a{
  color: #d3d3d3;
}

@media(min-width:990px) {
  footer .footer__copy div p a{
    color: #fff;
  }
}

footer .footer__copy div p a:active {
  color: #7FDBD4;
}

footer .footer__copy .topo {
  text-decoration: none;
  width: 30%;
  height: 40px;
  background-color: #333333;
  color: #CCCCCC;
  font-weight: 600;
  text-align: center;
  padding-top: 10px;
}

@media(min-width:990px) {
  footer .footer__copy .topo {
    display: none;
  }
}


main .banner {
  width: 100%;
  height: 545px;
  background-image: url('./images/banner-mobile.png');
  background-repeat: no-repeat;
  background-size: contain;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

@media(min-width:321px) {
  main .banner {
    background-size: cover;
  }
}

@media(min-width:990px){
  main .banner {
    width: 100%;
    background-image: url('./images/banner-desktop.png');
    justify-content: flex-start;
    padding: 220px 0 0 30px;
  }

  main .banner div {
    display: flex;
  } 
}

main .banner h2 {
  color: #fff;
  font-weight: bold;
  font-size: 40px;
  padding-left: 40px;
}

@media(min-width:990px) {
  main .banner h2 {
    font-size: 55px;
    transition: .5s ease-in-out;
  }

  main .banner h2:hover {
    transform: rotateZ(360deg);
    -webkit-transform: rotateZ(360deg);
  }
}

main .banner a {
  text-decoration: none;
  text-transform: uppercase;
  color: #d3d3d3;
  font-size: 18px;
  padding: 16px 0 25px 42px;
  transition: .8s ease;
}

@media(min-width:990px) {
  main .banner a {
    padding-top: 28px;
    font-size: 22px;
  }
  main .banner a:hover {
    text-decoration: underline;
    font-size: 24px;
  }
}

main .galeria {
  margin-top: 30px;
}

@media(min-width:1025px) {
  main .galeria {
    margin: 80px 0;
  }
}

main .galeria .galeria__images {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media(min-width:990px) and (max-width: 1024px) {
  main .galeria .galeria__images {
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
}

@media(min-width: 1025px) {
  main .galeria .galeria__images {
    flex-direction: row;
    justify-content: center;
  }
}

main .galeria .galeria__images img {
  width: 80%;
  margin: 15px 0;
  transition: .9s ease-in-out;
}

@media(min-width:990px) {
  main .galeria .galeria__images img {
    width: 280px;
    height: 280px;
    margin: 10px 8px;
  }
}

@media(min-width:990px) and (max-width: 1024px) {
  main .galeria .galeria__images img {
    width: 200px;
    height: 200px;
    margin: 15px 0px;
  }
}

main .galeria .galeria__images img:hover {
  transform: scale(1, 1);
  -webkit-transform: scale(1.1);
}
main .galeria .galeria__images img:active {
  transform: scale(1, 1);
  -webkit-transform: scale(1.1);
}
